.env
.php-cs-fixer.cache
.idea/
.vscode/
.DS_Store
Thumbs.db
./api/phpstan.dist.neon
*.swp
/api/vendor/
/api/var/
/api/public/bundles/
/api/public/build/
/api/config/secrets/*.php
/api/.env.local
/api/.env.local.php
/api/.env.*.local
/api/.php-cs-fixer.cache
/api/.phpunit.result.cache
/api/phpstan-baseline.neon
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-error.log*
/frontend/.eslintcache
/frontend/.vite/
docker-compose.override.yml